.toolbar-main {
    background-color: #03A9F4;
    color: white;
}

.toolbar-drawer {
    background-color: #3366FF;
    color: white;
}

.icon-big{
    width: 100px;
    height: 100px;
}

core-icon[icon="android"] {
    color: #3366FF;
}

core-icon[icon="polymer"] {
    color: green;
}

[main] {
    background-color: #FFFFFF;
}

[drawer] {
    background-color: #F0F0F0;
}

google-map {
    height: 500px;
}
