<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="import" href="elements.html">
        <link rel="stylesheet" href="app.css">
    </head>
    <body unresolved>
        <template is="auto-binding" id="app">
            <core-drawer-panel>
                <core-header-panel drawer mode="seamed">
                    <core-toolbar class="toolbar-drawer">
                        <core-icon icon="maps:local-cafe"></core-icon>
                        Name it after you !
                    </core-toolbar>
                    <core-menu selected="{{page}}">
                        <core-item label="Home" icon="home"></core-item>
                        <core-item label="Oh, look a cloud" icon="cloud"></core-item>
                        <core-item label="Maps" icon="maps:directions"></core-item>
                        <core-item label="Settings" icon="settings"></core-item>
                        <core-item label="About" icon="info"></core-item>
                    </core-menu>
                </core-header-panel>
                <core-header-panel main mode="waterfall-tall">
                    <core-toolbar class="toolbar-main">
                        <paper-icon-button core-drawer-toggle icon="menu"></paper-icon-button>
                        <div>My app</div>
                        <span flex></span>
                        <paper-icon-button icon="search"></paper-icon-button>
                        <paper-progress class="bottom fit" value="30"></paper-progress>
                    </core-toolbar>
                    <div>
                    <core-pages selected="{{page}}">
                        <section>
                            <h1>Hey you !</h1>
                            <p>Obviously, this is a work in progress :)</p>
                            <p><core-icon icon="android" class="icon-big"></core-icon></p>
                            <p><core-icon icon="android"></core-icon></p>
                            <p><core-icon icon="android"></core-icon></p>
                            <p><core-icon icon="android"></core-icon></p>
                            <p><core-icon icon="android"></core-icon></p>
                            <p><core-icon icon="polymer"></core-icon></p>
                            <p><core-icon icon="android"></core-icon></p>
                        </section>
                        <section>
                            <h1>Yes, this was a cloud</h1>
                            <div>what will you ever achieve my friend</div>
                        </section>
                        <section>
                            <h1>Where will I strike next</h1>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Ah, so there is a map here ?</p>
                            <p>Finally ! so where shall I bring justice</p>
                            <google-map latitude="51.4958038" longitude="-0.1738681" zoom="16">
                            <google-map-marker latitude="51.4958038" longitude="-0.1738681"
                            draggable="true"></google-map-marker>
                            </google-map> 
                        </section>
                        <section>
                            <h1>Settings</h1>
                            <div>whait, there are no options...</div>
                        </section>
                        <section>
                            <h1>About</h1>
                            <div>about what ? here's a link to a <a href="http://en.wikipedia.org/wiki/Valentine's_Day">wikipedia page</a></div>
                        </section>
                    </core-pages>
                    </div>

                </core-header-panel>
            </core-drawer-panel>
            
            
            <script src="app.js"></script>
        </template>

    </body>
</html>
